$green: rgba(90, 170, 130, 0.9)

.content
	position: relative

.base-element
	margin: 0
	padding: 0 0 30px 0

p
	@extend .base-element
	&.hovered
		background-color: #777
h1
	@extend .base-element
	padding: 0 0 15px 0

h2
	@extend .base-element
	padding: 0

pre
	@extend .base-element
	padding: 0 0 15px 0

code
	@extend .base-element
	padding: 0 0 15px 0

.btn
	cursor: pointer

.hidden
	opacity: 0 !important
	pointer-events: none