header
	min-height: 40px
	// width: 100%
	display: block

.flex-container
	display: -webkit-flex
	display: flex
	flex-flow: row

#editor-title
	margin-top: 20px
	width: 50%
	outline: 0
	border-bottom: 1px solid #000

#editor
	// display: inline-flex
	position: relative
	padding-top: 20px
	// border: 1px solid #000
	-webkit-flex: 3 1 50%
	outline: 0
	z-index: 10

#status-bar
	text-align: right
	position: fixed
	height: 20px
	top: 40px
	width: 100%
	cursor: default
	pointer-events: none

#insertion
	position: absolute
	border-bottom: 1px solid green
	width: 50%
