header
	min-height: 40px
	// width: 100%
	display: block

.flex-container
	display: -webkit-flex
	display: flex
	flex-flow: row

#editor
	// display: inline-flex
	margin-top: 20px
	border: 1px solid #000
	-webkit-flex: 3 1 50%
	outline: 0

#status-bar
	text-align: right
	position: fixed
	height: 20px
	top: 40px
	width: 100%
	cursor: default
	pointer-events: none