header
	min-height: 40px
	// width: 100%
	display: block

.flex-container
	display: -webkit-flex
	display: flex
	flex-flow: row

#editor
	// display: inline-flex
	border: 1px solid #000
	-webkit-flex: 3 1 50%
	outline: 0